# Android/iOS 빌드에 사용되는 공통 환경변수
# ENV는 빌드 명령어에서 자동 결정됩니다 (Android: productFlavors, iOS: Xcode configuration)
# 안드로이드 버전 정보는 android/version.properties에서 관리됩니다
# iOS 버전 정보는 Xcode에서(ios/Info.plist와 동기화) 관리됩니다

POPO_KEYSTORE_PASSWORD= # 물어보세요 @khkim6040

# DO NOT FORGET to set-up Firebase credentials
# ANDROID: google-services.json
# IOS: GoogleService-Info.plist
