API_URL=https://api.popo-dev.poapper.club

# Android
POPO_KEYSTORE_PASSWORD=xxxx
ANDROID_VERSION_CODE=3 # 겹치지 않도록 incremental하게 업데이트, 구글 플레이 스토어에서 확인할 것
ANDROID_VERSION_NAME="0.1.0-xxxx"

# DO NOT FORGET to set-up Firebase credentials
# ANDROID: google-services.json
# IOS: GoogleService-Info.plist
