# Android
POPO_KEYSTORE_PASSWORD=xxxx
# 버전 정보는 android/version.properties에서 관리됩니다 (git 추적)
# 겹치지 않도록 incremental하게 업데이트, 구글 플레이 스토어에서 확인할 것

# DO NOT FORGET to set-up Firebase credentials
# ANDROID: google-services.json
# IOS: GoogleService-Info.plist
