<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.popomobile.MainActivity">

            <!-- Deep Link: HTTPS URLs (App Links with autoVerify) - DEV ONLY -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Development HTTPS URLs ONLY -->
                <data
                    android:scheme="https"
                    android:host="popo-dev.poapper.club"
                    android:pathPrefix="/room" />
            </intent-filter>

            <!-- Deep Link: Development Custom Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Development custom scheme -->
                <data
                    android:scheme="popo-dev"
                    android:host="room" />
            </intent-filter>

        </activity>
    </application>

</manifest>
